
.page {
    position: absolute;
    
    background-color: rgba(177, 164, 197, 0.205);
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
p {
    padding: 20px 0px 20px 10px;  /* Vertical  Horizontal */
    margin-top: 25px;
    margin-bottom: 50px; 
    font-size: 13px;

  }
.sidebar{
    height: 100%; 
    width: 50%;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    background-color: rgb(167, 152, 190);

    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}