
body{
    background-color:rgba(177, 164, 197, 0.205);
}
.bio {
    
    font-family: Helvetica, Arial, sans-serif;
    border: 2px solid black;
    
    
}
h1{
    text-align: center;
}
p {
    

    font-size: 13px;

  }
.sidebar{
    border: 2px solid black;
    height: 100%; 
    width: 50%;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    background-color: rgb(167, 152, 190);

    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}
img{
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
    width: 50%;
}
button{

}